/*Importación*/
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
  font-weight: 400 600 700;
  font-style: normal;
}

/*Reset Inicial*/
/*El modelo de caja moderno comienza en la raíz*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: clamp(1rem 0.964rem + 0.18vh 1.125rem);
}

/*Heredan del modelo de caja todos los elementos*/

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*Ajustes generales del body*/

body {
  font-family: "Inter" sans-serif;
  font-weight: 300;
  background-color: white;
  color: black;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Imágenes y medios fluidos*/

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Formularios sin estilos raros*/

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/*Enlaces sin subrayado ni color azul*/

a {
  text-decoration: none;
  color: inherit;
}

/* Listas sin bullets*/

ul,
ol {
  list-style: none;
}

/*tablas limpias*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-hover-green: hsl(75, 94%, 57%);
  --color-font-main-white: hsl(0, 0%, 100%);

  --color-links-grey-700: hsl(0, 0%, 20%);
  --color-font-second-grey-800: hsl(0, 0%, 12%);
  --color-bg-card-grey-900: hsl(0, 0%, 8%);

  --space-card-50: 0.375rem /*6px */;
  --space-card-100: 0.75rem /*12px*/;
  --space-card-150: 1rem /*16*/;
  --space-card-200: 1.25rem /*20px*/;
  --space-card-250: 1.5rem /*24px*/;
  --space-card-300: 2rem /*32px*/;
}

/*General background of the page*/
.main-container {
  display: grid;
  grid-template-rows: 1fr 3rem;
  height: 100vh;
  background-color: var(--color-bg-card-grey-900);
  place-items: center;
}
/*Contenedor (card)*/

.profile-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-font-second-grey-800);
  width: 20.625rem;
  height: auto;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
}

/*


*/

/*git add .
git commit -m "Se le da estilo a la profile-card"
git push origin main 
*/
