/*Importación*/
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
  font-weight: 400 600 700;
  font-style: normal;
}

/*Reset Inicial*/
/*El modelo de caja moderno comienza en la raíz*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

/*Heredan del modelo de caja todos los elementos*/

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*Ajustes generales del body*/

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  background-color: white;
  color: black;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Imágenes y medios fluidos*/

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Formularios sin estilos raros*/

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/*Enlaces sin subrayado ni color azul*/

a {
  text-decoration: none;
  color: inherit;
}

/* Listas sin bullets*/

ul,
ol {
  list-style: none;
}

/*tablas limpias*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-hover-green: hsl(75, 94%, 57%);
  --color-font-main-white: hsl(0, 0%, 100%);

  --color-links-grey-700: hsl(0, 0%, 20%);
  --color-font-second-grey-800: hsl(0, 0%, 12%);
  --color-bg-card-grey-900: hsl(0, 0%, 8%);

  --space-card-50: 0.375rem /*6px */;
  --space-card-100: 0.75rem /*12px*/;
  --space-card-150: 1rem /*16*/;
  --space-card-200: 1.25rem /*20px*/;
  --space-card-250: 1.5rem /*24px*/;
  --space-card-300: 1.875rem /*30x*/;
  --space-card-350: 2rem /*32px*/;
}

/*General background of the page*/
.main-container {
  display: grid;
  grid-template-rows: 1fr 2rem;
  height: 100vh;
  background-color: var(--color-bg-card-grey-900);
  place-items: center;
  padding: 3rem 2rem;
}
/*Contenedor (card)*/

.profile-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-font-second-grey-800);
  width: 100%;
  max-width: 22.188rem;
  min-width: 15.625rem;
  padding: var(--space-card-250);
  border-radius: 1rem;
  margin: 0 5rem;
  margin-bottom: 1rem;
}

/* Estilos Header*/

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  margin-bottom: 1.125rem;
}
/*Estilos contenedor del avatar*/
.profile-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: var(--space-card-300);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

/*Estilos del Avatar*/
.profile-avatar .profile-avatar-img {
  display: block;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

/*Estilos del titulo: Nombre: “Jessica Randall”*/
.profile-header .profile-name {
  color: var(--color-font-main-white);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: clamp(1.125rem, 0.54vw + 1.018125rem, 1.5rem);
  margin-bottom: var(--space-card-50);
}

/*Estilos del subtitulo: Ubicación: “London, United Kingdom”*/

.profile-header .profile-location {
  color: var(--color-hover-green);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(0.625rem, 0.555rem + 0.357vw, 0.875rem);
  text-align: center;
}

/*Estilos del contenido de la biografía*/
.profile-bio {
  margin-bottom: var(--space-card-250);
}
.profile-bio .profile-bio-p {
  color: var(--color-font-main-white);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: clamp(0.625rem, 0.555rem + 0.357vw, 0.875rem);
  text-align: center;
}

/*Estilos de los enlaces*/

.social-links li {
  margin-bottom: 0.7rem;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-links-grey-700);
  color: var(--color-font-main-white);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: clamp(0.625rem, 0.555rem + 0.357vw, 0.875rem);
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.6s ease, color 0.6s ease;
}

.social-links a:hover,
.social-links a:focus {
  background-color: var(--color-hover-green);
  color: var(--color-font-second-grey-800);
}

/*Estilos del footer*/

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-font-main-white);
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-card-grey-900);
}
.attribution a {
  color: var(--color-hover-green);
  transition: color 0.3s ease;
}

.attribution a:hover {
  color: rgb(248, 243, 43);
}

/*git add .
git commit -m "Se le dio estilos a todos los enlaces y el footer"
git push origin main 
*/
